body {
    cursor: url("Alien\ Cursor.png"), auto;

}


@media screen and (max-width: 1200px) {
    h1 {font-size: 40.3px !important; text-align: center !important; padding-right: 48px !important;}
    .herotext {text-align: center !important; padding-right: 48px !important;}
    .firsth2 {font-size: 30px !important; padding-right: 90px !important; text-align: center !important;}
    h2 {font-size: 30px !important; padding-left: 48px !important; text-align: center !important;}
    .textone {font-size: 14px !important; text-align: center !important; padding-right: 48px !important; max-width: none !important;}
    .text1 {font-size: 14px !important; text-align: center !important; padding-left: 48px !important; max-width: none !important;}
    .aliens {position: relative !important; bottom: 80px !important;}
    .usa {margin-bottom: 100px !important; padding-left: 48px !important;}
    p {text-align: center !important;}
    .text2 {font-size: 14px !important; max-width: none !important;}
  }

.hero {
    background-color: black;
    color: white;
    padding: 30px;
}

.heroimage {
    background-size: cover;
    height: 68vh;
}

.content1 {
    background-color: black;
    color: white;
}

.content2 {
    background-color: black;
    color: white;
}

div {
    text-align: justify;
    text-justify: inter-word;
}
 
.aliens {
    width: 55%;
    vertical-align: middle;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 38px !important;
    padding-bottom: 15px;

}

h3{
    padding-bottom: 15px;
}

.greenh3 {
    color: #3dea24;
}

em {
    color: #3dea24;
    font-style: normal !important;
}

.textone {
    max-width: 700px;
    line-height: 1.6;

}

.text1 {
    max-width: 700px;
    line-height: 1.6;
}

.text2 {
    line-height: 1.6;
}

.usa {
   text-align: center;
   width: 95%;
   position: relative;
   top: 70px;
   right: 38px;
}